.form-control {
  text-align: right;
}

.calculator-footer{
  display: flex;
  align-items: center;
}

.alt-water-table {
    white-space: nowrap;
    width: 1% !important;
}
.alt-water-table td.fit, 
.alt-water-table th.fit {
    white-space: nowrap;
    width: 1%;
}